body.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}

.registration-form {
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  border: 12px solid rgb(236, 225, 236);
  box-shadow: 0 0 10px rgb(123, 70, 188);
  border-radius: 50px;
  padding: 10px;
  box-sizing: border-box;
}

.registration-form__field {
  margin-bottom: 20px;
  position: relative;
}

.registration-form__title {
  display: block;
  margin-bottom: 5px;
  text-align: center;
  color: rgb(123, 70, 188);
}

.registration-form__required-mark {
  color: #ff0000;
}

.registration-form__input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid rgb(184, 142, 214);
  border-radius: 10px;
  box-shadow: 0 0 3px rgb(198, 182, 217);
}

.registration-form__input:invalid {
  border-color: rgb(216, 195, 227);
  background-color: rgb(237, 90, 159), 233, 243;
}
 
::-webkit-input-placeholder { 
  color: rgb(175, 154, 200);
}

input:focus {
  background-color: rgb(255, 255, 255); 
}

.registration-form__error {
  color: red;
  font-size: 10px;
  white-space: normal;
}

.form-control__error {
  color: red;
  font-size: 10px;
  white-space: normal;
  display: none;
}

.registration-form__error, .form-control__error {
  max-width: 300px;
}

.registration-form__submit {
  width: 50%;
  padding: 10px;
  background: linear-gradient(180deg, rgb(123, 70, 188) 0%, rgba(77, 76, 173, 0.3) 100%);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  margin: 5px auto;
  display: block;
}

.registration-form__label {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-bottom: 5px;
  padding-left: 15px;
  color: rgb(123, 70, 188);
}
 
.registration-form__submit:active {
  background-color: #8a1fdc;
  transform: scale(0.98);
}

/*.checkbox {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-right: 0px;
  border-radius: 6px;
  background: rgb(209, 183, 238) url('/images/icon1.png') no-repeat center center;
  background-size: contain;
  transition: .3s;
 }*/

 .checkbox {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 0.6em;
  height: 0.6em;
  border-radius: 0.05em;
  background-color: rgb(243, 240, 242);
  box-shadow: 0 0 0 0.1em #4A90E2;
  margin-left: -1.2em;
  }
 
 /*.registration-form__checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.registration-form__checkbox:checked + .checkbox-view {
  /*background: url('./images/check.png');
}*/

@media (min-width: 770px) {
  .body {
      font-size: 16px;
  }

  .registration-form {
      width: 100%;
  }

  .registration-form__input {
      width: 100%;
  }
}

@media (min-width: 990px) {
  .body {
      font-size: 18px;
  }

  .registration-form {
      width: 90%;
  }

  .registration-form__input {
      width: 90%;
  }
}

@media (min-width: 1400px) {
  .body {
      font-size: 18px;
  }

  .registration-form {
      width: 100%;
  }

  .registration-form__input {
      width: 100%;
  }
}